:root {
    --primary-color: white;
    --secondary-color: #6c757d;
    --font-size-base: 24px;
    --font-size-small: 14px;
}

body {
    height: 100%;
    font-family: "Oswald", sans-serif;
    font-size: var(--font-size-base);

    background-color: var(--primary-color);
    color: var(--primary-color);
    padding: var(--spacing-unit);
    margin: 0;
}

h1 {
    margin: 0;
}

a {
    color: var(--primary-color);
}

p {
    margin: 0;
}

footer {
    text-align: center;
    font-size: 0.8rem;
    position: absolute;
    bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.title {
    font-weight: 700;
    font-size: 4.5rem;
    margin-bottom: 0.5rem;
}

.snap-section {
    position: relative;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.map-icon {
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.position-name {
    text-decoration: underline;
    font-weight: 600;
    font-size: 1.5rem;
}

.contacts-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* Media queries */
@media screen and (max-width: 600px) {
    .title {
        line-height: 1em;
        margin-bottom: 1rem;
        font-size: 2.5rem;
    }
}
